<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VisualPHPUnit - Graphs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/themes/redmond/jquery-ui.css' rel='stylesheet'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    	<div class="container">
    		<div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="./">VisualPHPUnit</a>
	        </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="./">Home</a></li>
              <li><a href="./archives">Archives</a></li>
              <li class='active'><a href="./graphs">Graphs</a></li>
              <li><a href="./help">Help</a></li>
            </ul>
          </div>
        </div>
    </div>

    <div class="container">

      <div class='row'>

        <div class='col-md-3'>
          <form class='well'>
            <ul class="nav nav-list">
              <li class='nav-header'>Options</li>
              <li style='padding: 5px 0px;'>
                <label for='graph-type' class='display-description-graph'>Type</label>
                <select id='graph-type' style='width: 128px;'>
                  <option value='Suite'>Suites</option>
                  <option value='Test'>Tests</option>
                </select>
              </li>
              <li style='padding: 5px 0px;'>
                <label for='time-frame' class='display-description-graph'>Time Frame</label>
                <select id='time-frame' style='width: 128px;'>
                  <option value='Daily'>Daily</option>
                  <option value='Weekly'>Weekly</option>
                  <option value='Monthly'>Monthly</option>
                </select>
              </li>
              <li style='padding: 5px 0px;'>
                <label for='start-date' class='display-description-graph'>Start Date</label>
                <input type='text' id='start-date' style='width: 128px;' />
              </li>
              <li style='padding: 5px 0px;'>
                <label for='end-date' class='display-description-graph'>End Date</label>
                <input type='text' id='end-date' style='width: 128px;' />
              </li>

              <li class='divider'></li>

              <li class='centered'>
                <button type="submit" id='draw-graph' class="btn btn-primary">Draw Graph</button>
              </li>

            </ul>
          </form>
        </div>

        <div class='col-md-9'>
          <div id='graph'></div>
        </div>
      </div>

    </div>

    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.19/jquery-ui.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/highcharts/2.2.3/highcharts.js'></script>
    <script src='./js/bootstrap.min.js'></script>

    <script type='text/html' id='error'>
      <div class="alert alert-block alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4 class="alert-heading"><%= error.title %></h4>
        <p class='error-message'><%= error.message %></p>
      </div>
    </script>

    <script>
      $(document).ready(function() {
        $('#draw-graph').click(function(event) {
          event.preventDefault();

          $.post('./graphs', {
            'graph_type' : $('#graph-type').val(),
            'time_frame' : $('#time-frame').val(),
            'start_date' : $('#start-date').val(),
            'end_date'   : $('#end-date').val()
          }, function(response) {
            var chart;

            response = $.parseJSON(response);

            if ( response.error ) {
              $('#graph').html(_.template($('#error').html(), {
                error: response.error
              }));
              return false;
            }

            chart = {
              "chart": {
                "renderTo": "graph",
                "defaultSeriesType": "line",
                "marginRight": 130,
                "marginBottom": 25
              },
              "title": {
                "text": response.type + " Results",
                "x": -20
              },
              "subtitle": {
                "text": response.timeFrame + " Average",
                "x": -20
              },
              "xAxis": {
                "categories": response.categories
              },
              "yAxis": {
                "title": {
                  "text": "Number of " + response.type + "s"
                },
                "plotLines": [{
                  "value": 0,
                  "width": 1,
                  "color": "#808080"
                }],
                "min": 0
              },
              "legend": {
                "layout": "vertical",
                "align": "right",
                "verticalAlign": "top",
                "x": -10,
                "y": 100,
                "borderWidth": 0
              },
              "series": [{
                "name": "Failed",
                "color": "#b94a48",
                "data": response.failed
              }, {
                "name": "Incomplete",
                "color": "#f89406",
                "data": response.incomplete
              }, {
                "name": "Skipped",
                "color": "#3a87ad",
                "data": response.skipped
              }, {
                "name": "Succeeded",
                "color": "#468847",
                "data": response.succeeded
              }]
            };

            new Highcharts.Chart(chart);
          });
        });

        $('#start-date, #end-date').datepicker();
      });

    </script>

  </body>
</html>
