.file-selector {
  height: 330px;
  overflow: scroll;
  margin-bottom: 9px;
}

.file-selector ul {
  list-style: none;
}

.file-selector ul > li ul {
  padding-left: 22px !important;
}

.file-selector ul a {
  text-decoration: none;
  padding: 5px !important;
  display: block;
}

.file-selector ul a:hover{
  background-color: #eee;
}

.directory,
.file {
  width: 125%;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 8px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}


.loader {
  text-align: center;
  margin-top: 20%;
}

.test-options {
  display: inline-block;
  margin-left: 10px;
  width: 68px;
}

.options-description {
  display: inline-block;
  width: 140px;
  font-weight: 500 !important;
}

.display-description {
  display: inline-block;
  width: 64px;
}

.display-description-graph {
  display: inline-block;
  width: 90px;
}

.test-display {
  display: inline-block;
  width: 150px;
}

label.checkbox {
  display: inline-block;
  margin-right: 6px !important;
}

.centered {
  text-align: center;
}

.notification-message,
.test-message,
.error-message {
  margin-top: 10px;
}

.suite-status {
  margin-bottom: 10px;
}

.test-details,
.error-details {
  margin-top: 5px;
}

.statistics {
  margin-bottom: 20px;
}

.alert-succeeded {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-failed {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-incomplete {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.alert-skipped {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

.label-failed,
.badge-important {
  background-color: #b94a48;
}

.label-failed[href],
.badge-important[href] {
  background-color: #953b39;
}

.label-incomplete,
.badge-warning {
  background-color: #f89406;
}

.label-incomplete[href],
.badge-warning[href] {
  background-color: #c67605;
}

.label-succeeded,
.badge-success {
  background-color: #468847;
}

.label-succeeded[href],
.badge-success[href] {
  background-color: #356635;
}

.label-skipped,
.badge-info {
  background-color: #3a87ad;
}

.label-skipped[href],
.badge-info[href] {
  background-color: #2d6987;
}

.label-inverse,
.badge-inverse {
  background-color: #333333;
}

.label-inverse[href],
.badge-inverse[href] {
  background-color: #1a1a1a;
}

.panel-body {
  padding: 15px 15px 0px 15px !important;
}