            <div class='row statistics'>
	            <div class='col-md-6'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
						<h3 class="panel-title">Suite Statistics</h3>
					</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: 100%' title='Failed (1/1)'>
	    						<span class="sr-only">100% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: 0%' title='Incomplete (0/1)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: 0%' title='Skipped (0/1)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: 0%' title='Succeeded (0/1)'>
	    						<span class="sr-only">0% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	
	            <div class='col-md-6 offset1'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
	    				<h3 class="panel-title">Test Statistics</h3>
	  				</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: 100%' title='Failed (1/1)'>
	    						<span class="sr-only">100% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: 0%' title='Incomplete (0/1)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: 0%' title='Skipped (0/1)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: 0%' title='Succeeded (0/1)'>
	    						<span class="sr-only">0% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	        </div>
            
            <div class="panel-group" id="accordion">
	            	
	            <div class="panel panel-default panel-danger suite" data-suite-status='failed' data-suite-time='0.0058901309967041'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
		      				<h4 class="panel-title">
		       					WelcomeTest								<span class="badge pull-right">Tests : 1</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse0" class="panel-collapse collapse in">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-failed">
			                    <h4 class="alert-heading">testWelcomeController</h4>
			                    			                    <p class='test-message'>
			                        <strong>Missing template name</strong>
			                    </p>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0058901309967041s
			                        </li>
			                        			                        			                        <li class='test-details'>
			                            <em>Stack Trace:</em>
			                            <pre>Array<br />
(<br />
    [0] =&gt; Array<br />
        (<br />
            [file] =&gt; F:\wamp2\www\combined\application\third_party\smarty\sysplugins\smarty_internal_template.php<br />
            [line] =&gt; 648<br />
        )<br />
<br />
    [1] =&gt; Array<br />
        (<br />
            [file] =&gt; F:\wamp2\www\combined\application\third_party\smarty\sysplugins\smarty_internal_templatebase.php<br />
            [line] =&gt; 117<br />
            [function] =&gt; __get<br />
            [class] =&gt; Smarty_Internal_Template<br />
            [type] =&gt; -&amp;gt;<br />
            [args] =&gt; Array<br />
                (<br />
                    [0] =&gt; source<br />
                )<br />
<br />
        )<br />
<br />
    [2] =&gt; Array<br />
        (<br />
            [file] =&gt; F:\wamp2\www\combined\application\libraries\MY_Parser.php<br />
            [line] =&gt; 200<br />
            [function] =&gt; fetch<br />
            [class] =&gt; Smarty_Internal_TemplateBase<br />
            [type] =&gt; -&amp;gt;<br />
            [args] =&gt; Array<br />
                (<br />
                    [0] =&gt; <br />
                )<br />
<br />
        )<br />
<br />
    [3] =&gt; Array<br />
        (<br />
            [file] =&gt; F:\wamp2\www\combined\application\modules\welcome\controllers\welcome.php<br />
            [line] =&gt; 22<br />
            [function] =&gt; parse<br />
            [class] =&gt; MY_Parser<br />
            [type] =&gt; -&amp;gt;<br />
            [args] =&gt; Array<br />
                (<br />
                    [0] =&gt; welcome_message<br />
                )<br />
<br />
        )<br />
<br />
    [4] =&gt; Array<br />
        (<br />
            [file] =&gt; F:\wamp2\www\combined\testCases\modules\welcome\controllers\WelcomeTest.php<br />
            [line] =&gt; 22<br />
            [function] =&gt; index<br />
            [class] =&gt; Welcome<br />
            [type] =&gt; -&amp;gt;<br />
            [args] =&gt; Array<br />
                (<br />
                )<br />
<br />
        )<br />
<br />
)</pre>
			                        </li>
			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					                        </div>

            
            