            <div class='row statistics'>
	            <div class='col-md-6'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
						<h3 class="panel-title">Suite Statistics</h3>
					</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: 20%' title='Failed (1/5)'>
	    						<span class="sr-only">20% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: 0%' title='Incomplete (0/5)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: 0%' title='Skipped (0/5)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: 80%' title='Succeeded (4/5)'>
	    						<span class="sr-only">80% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	
	            <div class='col-md-6 offset1'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
	    				<h3 class="panel-title">Test Statistics</h3>
	  				</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: 10%' title='Failed (1/10)'>
	    						<span class="sr-only">10% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: 10%' title='Incomplete (1/10)'>
	    						<span class="sr-only">10% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: 10%' title='Skipped (1/10)'>
	    						<span class="sr-only">10% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: 70%' title='Succeeded (7/10)'>
	    						<span class="sr-only">70% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	        </div>
            
            <div class="panel-group" id="accordion">
	            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.013497114181519'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
		      				<h4 class="panel-title">
		       					GenericHelperTest								<span class="badge pull-right">Tests : 2</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse0" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testFileExtension</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.012120008468628s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testUncamelize</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0013771057128906s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.23855590820312'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		      				<h4 class="panel-title">
		       					CountryModelTest								<span class="badge pull-right">Tests : 1</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse1" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testCountTableRows</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.23855590820312s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.059044122695923'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
		      				<h4 class="panel-title">
		       					WelcomeTest								<span class="badge pull-right">Tests : 1</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse2" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testWelcomeController</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.059044122695923s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					            	
	            <div class="panel panel-default panel-danger suite" data-suite-status='failed' data-suite-time='0.0085468292236327'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
		      				<h4 class="panel-title">
		       					SomeLibTest								<span class="badge pull-right">Tests : 4</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse3" class="panel-collapse collapse in">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testMethod</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0012280941009521s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                			                <div class="alert alert-block alert-incomplete">
			                    <h4 class="alert-heading">testIncompleteMethod</h4>
			                    			                    <p class='test-message'>
			                        <strong>Incomplete Test: This is just for testing Incomplete Test</strong>
			                    </p>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0024988651275635s
			                        </li>
			                        			                        			                        <li class='test-details'>
			                            <em>Stack Trace:</em>
			                            <pre>Array<br />
(<br />
    [0] =&gt; Array<br />
        (<br />
            [file] =&gt; F:\wamp2\www\combined\testCases\modules\welcome\libs\SomeLibTest.php<br />
            [line] =&gt; 27<br />
            [function] =&gt; markTestIncomplete<br />
            [class] =&gt; PHPUnit_Framework_Assert<br />
            [type] =&gt; ::<br />
            [args] =&gt; Array<br />
                (<br />
                    [0] =&gt; This is just for testing Incomplete Test<br />
                )<br />
<br />
        )<br />
<br />
)</pre>
			                        </li>
			                        			                    </ul>
			                </div>
			                			                <div class="alert alert-block alert-skipped">
			                    <h4 class="alert-heading">testSkippedMethod</h4>
			                    			                    <p class='test-message'>
			                        <strong>Skipped Test: This is just for testing Skipped Test</strong>
			                    </p>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0020058155059814s
			                        </li>
			                        			                        			                        <li class='test-details'>
			                            <em>Stack Trace:</em>
			                            <pre>Array<br />
(<br />
    [0] =&gt; Array<br />
        (<br />
            [file] =&gt; F:\wamp2\www\combined\testCases\modules\welcome\libs\SomeLibTest.php<br />
            [line] =&gt; 32<br />
            [function] =&gt; markTestSkipped<br />
            [class] =&gt; PHPUnit_Framework_Assert<br />
            [type] =&gt; ::<br />
            [args] =&gt; Array<br />
                (<br />
                    [0] =&gt; This is just for testing Skipped Test<br />
                )<br />
<br />
        )<br />
<br />
)</pre>
			                        </li>
			                        			                    </ul>
			                </div>
			                			                <div class="alert alert-block alert-failed">
			                    <h4 class="alert-heading">testFailingIssues</h4>
			                    			                    <p class='test-message'>
			                        <strong>Testing Falied Tests<br />
Failed asserting that 6 matches expected 5.</strong>
			                    </p>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0028140544891357s
			                        </li>
			                        			                        			                        <li class='test-details'>
			                            <em>Stack Trace:</em>
			                            <pre>Array<br />
(<br />
    [0] =&gt; Array<br />
        (<br />
            [file] =&gt; F:\wamp2\www\combined\testCases\modules\welcome\libs\SomeLibTest.php<br />
            [line] =&gt; 37<br />
            [function] =&gt; assertEquals<br />
            [class] =&gt; PHPUnit_Framework_Assert<br />
            [type] =&gt; ::<br />
            [args] =&gt; Array<br />
                (<br />
                    [0] =&gt; 5<br />
                    [1] =&gt; 6<br />
                    [2] =&gt; Testing Falied Tests<br />
                )<br />
<br />
        )<br />
<br />
)</pre>
			                        </li>
			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.002958059310913'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
		      				<h4 class="panel-title">
		       					PHPTest								<span class="badge pull-right">Tests : 2</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse4" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testFunctionJsonEncode</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0017309188842773s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testPhpVersion</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0012271404266357s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					                        </div>

            
            