            <div class='row statistics'>
	            <div class='col-md-6'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
						<h3 class="panel-title">Suite Statistics</h3>
					</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: 0%' title='Failed (0/5)'>
	    						<span class="sr-only">0% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: 0%' title='Incomplete (0/5)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: 0%' title='Skipped (0/5)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: 100%' title='Succeeded (5/5)'>
	    						<span class="sr-only">100% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	
	            <div class='col-md-6 offset1'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
	    				<h3 class="panel-title">Test Statistics</h3>
	  				</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: 0%' title='Failed (0/7)'>
	    						<span class="sr-only">0% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: 0%' title='Incomplete (0/7)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: 0%' title='Skipped (0/7)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: 100%' title='Succeeded (7/7)'>
	    						<span class="sr-only">100% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	        </div>
            
            <div class="panel-group" id="accordion">
	            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.016545057296753'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
		      				<h4 class="panel-title">
		       					GenericHelperTest								<span class="badge pull-right">Tests : 2</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse0" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testFileExtension</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.015066862106323s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testUncamelize</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0014781951904297s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.29098701477051'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		      				<h4 class="panel-title">
		       					CountryModelTest								<span class="badge pull-right">Tests : 1</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse1" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testCountTableRows</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.29098701477051s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.049443960189819'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
		      				<h4 class="panel-title">
		       					WelcomeTest								<span class="badge pull-right">Tests : 1</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse2" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testWelcomeController</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.049443960189819s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.001255989074707'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
		      				<h4 class="panel-title">
		       					SomeLibTest								<span class="badge pull-right">Tests : 1</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse3" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testMethod</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.001255989074707s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.0029723644256592'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
		      				<h4 class="panel-title">
		       					PHPTest								<span class="badge pull-right">Tests : 2</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse4" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testFunctionJsonEncode</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0017051696777344s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testPhpVersion</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0012671947479248s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					                        </div>

            
            