            <div class='row statistics'>
	            <div class='col-md-6'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
						<h3 class="panel-title">Suite Statistics</h3>
					</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: 0%' title='Failed (0/1)'>
	    						<span class="sr-only">0% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: 0%' title='Incomplete (0/1)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: 0%' title='Skipped (0/1)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: 100%' title='Succeeded (1/1)'>
	    						<span class="sr-only">100% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	
	            <div class='col-md-6 offset1'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
	    				<h3 class="panel-title">Test Statistics</h3>
	  				</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: 0%' title='Failed (0/1)'>
	    						<span class="sr-only">0% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: 0%' title='Incomplete (0/1)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: 0%' title='Skipped (0/1)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: 100%' title='Succeeded (1/1)'>
	    						<span class="sr-only">100% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	        </div>
            
            <div class="panel-group" id="accordion">
	            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.26690602302551'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
		      				<h4 class="panel-title">
		       					CountryModelTest								<span class="badge pull-right">Tests : 1</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse0" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testCountTableRows</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.26690602302551s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					                        </div>

            
            