            <div class='row statistics'>
	            <div class='col-md-6'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
						<h3 class="panel-title">Suite Statistics</h3>
					</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: 0%' title='Failed (0/5)'>
	    						<span class="sr-only">0% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: 0%' title='Incomplete (0/5)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: 20%' title='Skipped (1/5)'>
	    						<span class="sr-only">20% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: 80%' title='Succeeded (4/5)'>
	    						<span class="sr-only">80% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	
	            <div class='col-md-6 offset1'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
	    				<h3 class="panel-title">Test Statistics</h3>
	  				</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: 0%' title='Failed (0/9)'>
	    						<span class="sr-only">0% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: 11.1%' title='Incomplete (1/9)'>
	    						<span class="sr-only">11.1% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: 11.1%' title='Skipped (1/9)'>
	    						<span class="sr-only">11.1% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: 77.8%' title='Succeeded (7/9)'>
	    						<span class="sr-only">77.8% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	        </div>
            
            <div class="panel-group" id="accordion">
	            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.020891904830932'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
		      				<h4 class="panel-title">
		       					GenericHelperTest								<span class="badge pull-right">Tests : 2</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse0" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testFileExtension</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.019304037094116s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testUncamelize</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0015878677368164s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.24788689613342'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		      				<h4 class="panel-title">
		       					CountryModelTest								<span class="badge pull-right">Tests : 1</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse1" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testCountTableRows</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.24788689613342s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.049256086349487'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
		      				<h4 class="panel-title">
		       					WelcomeTest								<span class="badge pull-right">Tests : 1</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse2" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testWelcomeController</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.049256086349487s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					            	
	            <div class="panel panel-default panel-info suite" data-suite-status='skipped' data-suite-time='0.0060389041900635'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
		      				<h4 class="panel-title">
		       					SomeLibTest								<span class="badge pull-right">Tests : 3</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse3" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testMethod</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0012938976287842s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                			                <div class="alert alert-block alert-incomplete">
			                    <h4 class="alert-heading">testIncompleteMethod</h4>
			                    			                    <p class='test-message'>
			                        <strong>Incomplete Test: This is just for testing Incomplete Test</strong>
			                    </p>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0026309490203857s
			                        </li>
			                        			                        			                        <li class='test-details'>
			                            <em>Stack Trace:</em>
			                            <pre>Array<br />
(<br />
    [0] =&gt; Array<br />
        (<br />
            [file] =&gt; F:\wamp2\www\combined\testCases\modules\welcome\libs\SomeLibTest.php<br />
            [line] =&gt; 27<br />
            [function] =&gt; markTestIncomplete<br />
            [class] =&gt; PHPUnit_Framework_Assert<br />
            [type] =&gt; ::<br />
            [args] =&gt; Array<br />
                (<br />
                    [0] =&gt; This is just for testing Incomplete Test<br />
                )<br />
<br />
        )<br />
<br />
)</pre>
			                        </li>
			                        			                    </ul>
			                </div>
			                			                <div class="alert alert-block alert-skipped">
			                    <h4 class="alert-heading">testSkippedMethod</h4>
			                    			                    <p class='test-message'>
			                        <strong>Skipped Test: This is just for testing Skipped Test</strong>
			                    </p>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0021140575408936s
			                        </li>
			                        			                        			                        <li class='test-details'>
			                            <em>Stack Trace:</em>
			                            <pre>Array<br />
(<br />
    [0] =&gt; Array<br />
        (<br />
            [file] =&gt; F:\wamp2\www\combined\testCases\modules\welcome\libs\SomeLibTest.php<br />
            [line] =&gt; 32<br />
            [function] =&gt; markTestSkipped<br />
            [class] =&gt; PHPUnit_Framework_Assert<br />
            [type] =&gt; ::<br />
            [args] =&gt; Array<br />
                (<br />
                    [0] =&gt; This is just for testing Skipped Test<br />
                )<br />
<br />
        )<br />
<br />
)</pre>
			                        </li>
			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.0029871463775634'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
		      				<h4 class="panel-title">
		       					PHPTest								<span class="badge pull-right">Tests : 2</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse4" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testFunctionJsonEncode</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0017611980438232s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testPhpVersion</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0012259483337402s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					                        </div>

            
            