            <div class='row statistics'>
	            <div class='col-md-6'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
						<h3 class="panel-title">Suite Statistics</h3>
					</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: 0%' title='Failed (0/2)'>
	    						<span class="sr-only">0% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: 0%' title='Incomplete (0/2)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: 0%' title='Skipped (0/2)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: 100%' title='Succeeded (2/2)'>
	    						<span class="sr-only">100% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	
	            <div class='col-md-6 offset1'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
	    				<h3 class="panel-title">Test Statistics</h3>
	  				</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: 0%' title='Failed (0/4)'>
	    						<span class="sr-only">0% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: 0%' title='Incomplete (0/4)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: 0%' title='Skipped (0/4)'>
	    						<span class="sr-only">0% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: 100%' title='Succeeded (4/4)'>
	    						<span class="sr-only">100% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	        </div>
            
            <div class="panel-group" id="accordion">
	            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.01565408706665'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
		      				<h4 class="panel-title">
		       					GenericHelperTest								<span class="badge pull-right">Tests : 2</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse0" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testFileExtension</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0137619972229s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testUncamelize</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.00189208984375s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					            	
	            <div class="panel panel-default panel-success suite" data-suite-status='succeeded' data-suite-time='0.0053408145904541'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
		      				<h4 class="panel-title">
		       					PHPTest								<span class="badge pull-right">Tests : 2</span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse1" class="panel-collapse collapse ">
		    			<div class="panel-body">
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testFunctionJsonEncode</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0023930072784424s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                			                <div class="alert alert-block alert-succeeded">
			                    <h4 class="alert-heading">testPhpVersion</h4>
			                    			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        0.0029478073120117s
			                        </li>
			                        			                        			                    </ul>
			                </div>
			                		                </div>
	                </div>
	            </div>
	
					                        </div>

            
            