            <div class='row statistics'>
	            <div class='col-md-6'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
						<h3 class="panel-title">Suite Statistics</h3>
					</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: <?= $stats["suites"]["percentFailed"] ?>%' title='Failed (<?= $stats["suites"]["failed"] ?>/<?= $stats["suites"]["total"] ?>)'>
	    						<span class="sr-only"><?= $stats['suites']['percentFailed'] ?>% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: <?= $stats["suites"]["percentIncomplete"] ?>%' title='Incomplete (<?= $stats["suites"]["incomplete"] ?>/<?= $stats["suites"]["total"] ?>)'>
	    						<span class="sr-only"><?= $stats['suites']['percentIncomplete'] ?>% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: <?= $stats["suites"]["percentSkipped"] ?>%' title='Skipped (<?= $stats["suites"]["skipped"] ?>/<?= $stats["suites"]["total"] ?>)'>
	    						<span class="sr-only"><?= $stats['suites']['percentSkipped'] ?>% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: <?= $stats["suites"]["percentSucceeded"] ?>%' title='Succeeded (<?= $stats["suites"]["succeeded"] ?>/<?= $stats["suites"]["total"] ?>)'>
	    						<span class="sr-only"><?= $stats['suites']['percentSucceeded'] ?>% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	
	            <div class='col-md-6 offset1'>
				<div class="panel panel-default">
	  				<div class="panel-heading">
	    				<h3 class="panel-title">Test Statistics</h3>
	  				</div>
	  				<div class="panel-body">
	    				<div class="progress progress-striped active">
	  						<div class="progress-bar progress-bar-danger" style='width: <?= $stats["tests"]["percentFailed"] ?>%' title='Failed (<?= $stats["tests"]["failed"] ?>/<?= $stats["tests"]["total"] ?>)'>
	    						<span class="sr-only"><?= $stats['tests']['percentFailed'] ?>% Complete (danger)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-warning" style='width: <?= $stats["tests"]["percentIncomplete"] ?>%' title='Incomplete (<?= $stats["tests"]["incomplete"] ?>/<?= $stats["tests"]["total"] ?>)'>
	    						<span class="sr-only"><?= $stats['tests']['percentIncomplete'] ?>% Complete (warning)</span>
	  						</div>
	  						<div class="progress-bar progress-bar-info" style='width: <?= $stats["tests"]["percentSkipped"] ?>%' title='Skipped (<?= $stats["tests"]["skipped"] ?>/<?= $stats["tests"]["total"] ?>)'>
	    						<span class="sr-only"><?= $stats['tests']['percentSkipped'] ?>% Complete (warning)</span>
	  						</div>
							<div class="progress-bar progress-bar-success" style='width: <?= $stats["tests"]["percentSucceeded"] ?>%' title='Succeeded (<?= $stats["tests"]["succeeded"] ?>/<?= $stats["tests"]["total"] ?>)'>
	    						<span class="sr-only"><?= $stats['tests']['percentSucceeded'] ?>% Complete (success)</span>
	  						</div>
						</div>
	  				</div>
				</div>
	            </div>
	        </div>
            
            <div class="panel-group" id="accordion">
	            <?php $i=0; foreach ( $suites as $key => $suite ): ?>
	
	            <div class="panel panel-default panel-<?=($suite['status']=='succeeded') ? 'success' : (($suite['status']=='incomplete') ? 'warning' : (($suite['status']=='skipped') ? 'info' : 'danger')) ?> suite" data-suite-status='<?= $suite["status"] ?>' data-suite-time='<?= $suite["time"] ?>'>
	            	<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse<?= $i ?>">
		      				<h4 class="panel-title">
		       					<?=$suite['name'];?>
								<span class="badge pull-right">Tests : <?= count($suite['tests']); ?></span>
		      				</h4>
						</a>
		    		</div>
		    		<div id="collapse<?= $i ?>" class="panel-collapse collapse <?= ($suite['status']=='incomplete' || $suite['status']=='failed') ? 'in' : '' ?>">
		    			<div class="panel-body">
			                <?php foreach ( $suite['tests'] as $test ): ?>
			                <div class="alert alert-block alert-<?=$test['status'];?>">
			                    <h4 class="alert-heading"><?=$test['name'];?></h4>
			                    <?php if ( $test['message']): ?>
			                    <p class='test-message'>
			                        <strong><?=$test['message'];?></strong>
			                    </p>
			                    <?php endif; ?>
			                    <ul class='nav'>
			                        <li class='test-details'>
			                        <em>Execution time:</em>
			                        <?=$test['time'];?>s
			                        </li>
			                        <?php if ( $test['output']): ?>
			                        <li class='test-details'>
			                            <em>Debug Output:</em>
			                            <pre><?=$test['output'];?></pre>
			                        </li>
			                        <?php endif; ?>
			                        <?php if ( $test['trace']): ?>
			                        <li class='test-details'>
			                            <em>Stack Trace:</em>
			                            <pre><?=$test['trace'];?></pre>
			                        </li>
			                        <?php endif; ?>
			                    </ul>
			                </div>
			                <?php endforeach; ?>
		                </div>
	                </div>
	            </div>
	
				<?php $i++; ?>
	            <?php endforeach; ?>
            </div>

            <?php if ( !empty($errors) ): ?>
            <h3>Errors</h3>
            <?php endif; ?>

            <?php foreach ( $errors as $error ): ?>
            <div class="alert alert-block alert-failed">
                <h4 class="alert-heading"><?=$error['type'];?></h4>
                <p class='error-message'>
                    <strong><?=$error['message'];?></strong>
                </p>
                <ul class='nav'>
                    <li class='error-details'>
                        <em>File:</em>
                        <?=$error['file'];?>
                    </li>
                    <li class='error-details'>
                        <em>Line:</em>
                        <?=$error['line'];?>
                    </li>
                </ul>
            </div>
            <?php endforeach; ?>
